{% load static %}

<header id="masthead" class="site-header" role="banner">
    <div id="headerTop">
        <div class="w">
            <nav class="menu-header-ust-menu-container">
                <ul id="headerTopMenu" class="menu">
                    <li id="menu-item-366"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-366"><a
                            href="#">İLETİŞİM</a></li>
                    <li id="menu-item-251"#}
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251"><a
                            href="#">YÖNETİM KURULU </a></li>
                    <li id="menu-item-367"#}
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-367"><a
                            href="#">POLİKLİKLERİMİZ</a></li>

                </ul>
            </nav>

            <ul class="socialBox" id="headerSocial">
                <li><a href="https://www.facebook.com/" id="fb" target="_blank"></a></li>

            </ul>
        </div>
    </div>
    <div class="header-main">
        <a href="#" id="logo">
            <img src="{% static 'img/banner_3_1.png' %}"  width="95" height="80" alt=""/>
        </a>

        <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
        <h1 class="menu-toggle">Birincil menü</h1>
            <a class="screen-reader-text skip-link" href="#content">İçeriğe atla</a>
            <div class="menu-ana-menu-container">
                <ul id="menu-ana-menu" class="nav-menu">
                    <li id="menu-item-33"
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-33">
                        <a title="ANASAYFA" href="/">ANASAYFA</a></li>

                    <li id="menu-item-148"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-148">
                        <a href="#">YÖNETİM</a>
                        <ul class="sub-menu">


                            <li id="menu-item-161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-161"><a href="#">BAŞKANIN MESAJI</a></li>
                            <li id="menu-item-107"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-107"><a
                                    href="#">POLİKLİKLER</a></li>

                        </ul>
                    </li>


                    <li id="menu-item-96"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-96">
                        <a href="#">POLİKLİKLERİMİZ</a>

                    </li>

                    <li id="menu-item-99" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-99">
                        <a href="#">TEDAVİLER</a></li>

                    <li id="menu-item-98" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-98">
                        <a href="#">EKİBİMİZ</a>

                        <ul class="sub-menu">
                                    <li></li>
                        </ul>
                    </li>
                    <li id="menu-item-147"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-147">
                        <a href="http://www.dentalnetonline.com">ONLİNE HİZMETLER</a></li>

                </ul>
            </div>
        </nav>
    </div>

</header><!-- #masthead -->